@model Ammo.Domain.Entities.Journal
@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div class="container nav-offset-margin">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading-block">
                <h3>
                    Create Journal
                </h3>
            </div> <!-- /.heading-block -->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 journal-modal-detail">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <!-- Journal Cover large -->
                <img class="shelf-journal-cover-img journal-modal-detail-cover-img" src="@Url.Action("JournalCoverGet", "Image", new { ImageName = Model.CoverUrl })" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                @using (Html.BeginForm("Save", "Journal", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.OwnerId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "input-field input-field-green create-journal-title" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new {  @class = "input-field input-field-green create-journal-textarea", @rows = "4" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create Journal" class="btn btn-default standard-button green-button" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>