@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en" ng-app="AMMO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="John Nolan, Rio">
    <meta name="description" content="Bullet journal, online project management tool">
    <meta name="keywords" content="bullet journal, project, management, workflow, planning, ammo, agile">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Assets/favicon/manifest.json">
    <!-- SITE TITLE -->
    <title>Ammo - Bullet Journal Zen</title>
    <!-- Third Party CSS including Bootstrap & custom icons -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    @Styles.Render("~/Content/General")
    @Styles.Render("~/Content/Journal")
    <link rel="stylesheet" href="~/Content/AMMO.AcitivtyLog.css" />
    @Styles.Render("~/Content/Calendar")
    @Scripts.Render("~/bundles/jquery")
    <!--[if lt IE 9]>
        <script src="/Scripts/API/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- =========================
       PRE LOADER
      ============================== -->
    <div class="preloader">
        <div class="status">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
    </div>
    <!-- =========================
     NAVIGATION
    ============================== -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- LOGO -->
                <a class="navbar-brand-center" href="index.html">
                    <img src="~/Assets/images/logo.png" alt="LOGO">
                </a>
            </div>
        </div><!-- /END CONTAINER -->
        @if (Request.IsAuthenticated)
        {
            <!-- =========================
             LEFT SLIDE OUT MENU
            ============================== -->
            <div class="navbar-left left-menu-icon">
                <div class="js-toggle-left-slidebar"></div>
            </div>
            <div off-canvas="slidebar-1 left shift">
                <ul class="slide-out-menu">
                    <a id="layouts-menu-trigger" class="slide-out-menu-item-div-a js-toggle-bottom-slidebar layouts-menu-trigger" href="javascript:void(0)">
                        <li class="slide-out-menu-item slide-menu-border-right-red">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/layout.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Layouts
                                </p>
                            </div>
                        </li>
                    </a>
                    <a id="bullets-menu-trigger" class="slide-out-menu-item-div-a js-toggle-bottom-slidebar bullets-menu-trigger" href="javascript:void(0)">
                        <li class="slide-out-menu-item slide-menu-border-right-green">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/bullet.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Bullets
                                </p>
                            </div>
                        </li>
                    </a>
                    <a id="signifiers-menu-trigger" class="slide-out-menu-item-div-a js-toggle-bottom-slidebar signifiers-menu-trigger" href="javascript:void(0)">
                        <li class="slide-out-menu-item slide-menu-border-right-purple">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/signifier.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Signifiers
                                </p>
                            </div>
                        </li>
                    </a>
                    <a class="slide-out-menu-item-div-a js-toggle-bottom-slidebar" href="javascript:void(0)">
                        <li class="slide-out-menu-item slide-menu-border-right-yellow">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/text-editor.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Text Editor
                                </p>
                            </div>
                        </li>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="index.html">
                        <li class="slide-out-menu-item slide-menu-border-right-grey">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/open-journal.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Journal Index
                                </p>
                            </div>
                        </li>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="javascript:void(0)">
                        <li class="slide-out-menu-item slide-menu-border-right-grey">
                            <div class="slide-menu-item-div">
                                <img src="../assets/icons/insert-page.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Insert Page
                                </p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        }
        @if (Request.IsAuthenticated)
        {
            <!-- =========================
             LEFT SLIDE OUT MENU
            ============================== -->
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="menu-icon">
                        <img src="~/Assets/icons/menu.png" class="js-toggle-right-slidebar" />
                    </div>
                </li>
            </ul>
            <div off-canvas="slidebar-2 right shift">
                <div class="slide-out-menu">
                    <a class="slide-out-menu-item-div-a" href="@Url.Action("Index", "Journals")">
                        <div class="slide-out-menu-item slide-menu-border-left-red">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/three-books.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Journal Library
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="@Url.Action("Index", "Calendar")">
                        <div class="slide-out-menu-item slide-menu-border-left-green">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/calendar.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Calendar
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="javascript:void(0)">
                        <div class="slide-out-menu-item slide-menu-border-left-purple">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/bullets.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Bullet Collections
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="javascript:void(0)">
                        <div class="slide-out-menu-item slide-menu-border-left-yellow">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/files.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Ammo Cloud&trade; Storage
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="javascript:void(0)">
                        <div class="slide-out-menu-item slide-menu-border-left-grey">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/box.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Ammo Cache
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="@Url.Action("Index", "Manage")">
                        <div class="slide-out-menu-item slide-menu-border-left-grey">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/settings.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Settings
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="slide-out-menu-item-div-a" href="javascript:document.getElementById('logoutForm').submit()">
                        <div class="slide-out-menu-item slide-menu-border-left-grey">
                            <div class="slide-menu-item-div">
                                <img src="~/Assets/icons/signout.png" class="slide-menu-item-div-img">
                                <p class="slide-menu-item-div-p">
                                    Sign Out
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div><!-- /END NAIVATION -->
    @RenderBody()
    <!-- =========================
     JOURNAL DETAIL MODAL
    ============================== -->
    <div class="md-modal md-effect-5" id="js-ammo-modal">
        <div class="md-content" id="js-ammo-modal-content"></div>
    </div>
    <div class="md-overlay"></div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/modal")
    @Scripts.Render("~/bundles/ammo-journal")
    @Scripts.Render("~/bundles/ammo-controllers")
    <script src="~/Scripts/API/slidebars.min.js"></script>
    <script src="~/Scripts/Controllers/AMMO.Menu.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
